<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @botstrap4hero.title %>
</p>

<p>
  <strong>Context:</strong>
  <%= @botstrap4hero.context %>
</p>

<%= link_to 'Edit', edit_botstrap4hero_path(@botstrap4hero) %> |
<%= link_to 'Back', botstrap4heros_path %>
